# NLP to SQL

In this project, we'll develop a start-up that can take a non-technical manager's Natural Language question, such as "What counties had the top sales?" and convert that into a SQL query. We will then use that SQL to query the data (which in this example will come from a .csv file we read in with Pandas and set-up a temporary DB in RAM) and then report back the results!

The dataset we will use is a Kaggle Dataset

https://www.kaggle.com/datasets/kyanyoga/sample-sales-data

## Library Imports

In [1]:
import os
import pandas as pd
import openai as openai

In [2]:
# Lets read the dataset
df = pd.read_csv("../resources/sales_data_sample.csv")

# check the data load
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

## Querying the Data 

We can query the data via pandas syntax

In [3]:
# sum of sales by Quarter
df.groupby('QTR_ID').sum()['SALES']

QTR_ID
1    2350817.73
2    2048120.30
3    1758910.81
4    3874780.01
Name: SALES, dtype: float64

## SQL Database Setup

In [4]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [5]:
temp_db = create_engine('sqlite:///:memory:', echo=True)

In [6]:
# Now we are pushing our entire dataframe to a table called Sales

data = df.to_sql(name='Sales', con=temp_db)

2023-10-01 11:32:04,551 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 11:32:04,558 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-10-01 11:32:04,559 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-01 11:32:04,560 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-10-01 11:32:04,561 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-01 11:32:04,605 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2023-10-01 11:32:04,606 INFO sqlalchemy.engine.Engine [no key 0.00129s] ()
2023-10-01 11:32:04,607 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-10-01 11:32:04,608 INFO sqlalchemy.engine.Engine [no key 0.00086s] ()
2023-10-01 11:32:04,666 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-10-01 11:32:04,667 INFO sqlalchemy.engine.Engine [generated in 0.03896s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2023-10-01 11:32:04,685 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-10-01 11:32:04,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-01 11:32:04,688 INFO sqlalchemy.engine.Engine COMMIT

### Connecting to SQL Database

In [7]:
# Using SQL Alchemy  we can establish a connection  to this temporary database and query it for the results

with temp_db.connect() as conn:
    result = conn.execute(text('SELECT ORDERNUMBER, SALES FROM Sales ORDER BY SALES DESC LIMIT 3'))

result.all()

2023-10-01 11:32:09,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-01 11:32:09,433 INFO sqlalchemy.engine.Engine SELECT ORDERNUMBER, SALES FROM Sales ORDER BY SALES DESC LIMIT 3
2023-10-01 11:32:09,434 INFO sqlalchemy.engine.Engine [generated in 0.00278s] ()
2023-10-01 11:32:09,436 INFO sqlalchemy.engine.Engine ROLLBACK

[(10407, 14082.8), (10322, 12536.5), (10424, 12001.0)]

## OPENAI API

### Get The OpenAI API Key

In [8]:
openai.api_key = os.environ["OPENAI_API_KEY"]

### Inform GPT about the SQL Table Structure

We need to tell GPT what the table structure looks like before it can understand the schema enough to create a SQL query. 

- Automatically creating table structure  definition from Data frame  for OpenAI API
- Grabbing user NLP input
- Combining prompts for an OpenAI API call

an OPENAI GPT Table description looks like this ...

In [9]:
### sqllite <here we have to mention database type, SQLServer, Postgres etc> SQL Tables, with their properties:
#
# Employee (id, name, department_id)
# Department (id, name, address)
# Salary_Payments (id, employee_id, amount, date)
#
### A Query to list the names of the departments which employed more than 10 employees  in the last 3 months
# SELECT (at the end we tell it to "SELECT", Thus GPT must finish with the rest of the most reasonable SQL query)

In [12]:
# Instead of giving prompts like above for every table, we create a function which will automatically create the table definition prompt

def create_table_defintion_prompt(df):
    """
    This function returns a prompt that informs GPT that we want to work with SQL Tables
    """
    prompt = '''### sqllite SQL table with its properties:
#    
# Sales({})
#
'''.format(",".join(str(columnnames) for columnnames in df.columns)) # format call injects all the columns
    return prompt

In [13]:
# Lets test the above function
print(create_table_defintion_prompt(df))

### sqllite SQL table with its properties:
#
# Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)
#

### Get Natural Language Request
Now let's create a function that grabs the natural language information request:

In [14]:
# Function to grab the user query
def prompt_input():
    nlp_text = input("Enter information you want to obtain: ")
    return nlp_text

In [17]:
# Lets test the function ... 
nlp_text = prompt_input()
print(nlp_text)

Top 10 orders by date

In [20]:
# Now we will combine the results in one function
def combine_prompts(df, query_prompt):
    definition = create_table_defintion_prompt(df)
    query_init_string = f"### A Query to answer: {query_prompt}\n # SELECT"
    return (definition + query_init_string)

In [21]:
# Lets test the combined function
print(combine_prompts(df, "Top 10 Orders"))

### sqllite SQL table with its properties:
#
# Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)
#
### A Query to answer: Top 10 Orders
 # SELECT

### OpenAPI API Call - Completion API Calls

Currently there are two main types of Completion API Calls

- Text Completion
    - Optimized for completing natural language
- Code Completion
    - Optimized for completing with actual executable code

The following models are in GPT 3.5
- code-davinci-002
- text-davinci-002
- text-davinci-003

#### OpenAPI API Completion Call Parameters

- **Model**                     - Name of the model to be used
- **Prompt**                    - Most important parameter. Basically dictates what the model is supposed to return.
- **Temperature**               - Higher the value means, model is going to take more risk. The model will include lower probabilities (range between 0 and 1) - ex 0.9 for creative answer, 0.1 for obvious simple answers
- **Max Tokens**                - Max tokens to generate in the completion. Most models have context length 2048, however newest models support 4096
- **Top P**                     - An Alternative to sampling with temperature, called nucleus sampling. will consider top_p probability mass.So 0.1 means consider to 10% probability mass. Alter Top P or Temperature but not both.
- **N**                         - How many completions to generate for each prompt. Pretty much running the same prompt multiple times. We essentially almost always set this to 1.
- **Frequency Penalty**         - Between -2.0 to 2.0. Essentially to avoid GPT models give the same response again and again from prompts are getting fine tuned. Positive values penalize the new tokens based on their existing frequency, decreasing the model's liklihood to repeat the same line verbatim.
- **Presence Penalty**          - Between -2.0 to 2.0. Essentially to avoid GPT models give the same response again and again from prompts are getting fine tuned. Positive values penalize the new tokens based on whether they appear in the text so far, increasing the model's liklihood to talk about new  topics.

The presence penalty is a one off additive contribution that applies to all tokens that have been sampled at least once and the frequency penalty is a contribution that is proportional to how often a particular token hasalready been sampled.
Reasonable values for the penalty coefficients are typically around 0.1 to 1 if the aim is just reduce repetitive samples somewhat. If the idea is to be really restrictive, then we can go beyond 1 to 2. But this might degrade the quality of the samples.
Negative values can be used to increase the likelihood of repetition.